body {
    background-color: rgb(255, 209, 223);
    margin: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.top {
    margin: 0px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.right {
    padding-right: 60px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
}

.left {
    padding-left: 60px;
}

.main {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    margin: 0% 10%;

}

#quiz {
    display: none;
}

#name {
    text-align: center;
    margin-bottom: 1%;
}

#instructions {
    text-align: center;
    padding-bottom: 25px;
    padding-right: 70px;
    padding-left: 70px;
    line-height: 1.75;
}

h1 {
    font-size: 40px;
    
}
                            
h2 {
    font-size: 20px;
}

#highscores-button {
    color: black;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 15px;
}

#highscores-button:hover {
    color: rgb(218, 0, 0);    
    cursor: grab;
}

.button {
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-image: radial-gradient(rgb(252, 62, 93), rgb(251, 17, 56) );
    border: rgb(255, 46, 81);
    border-radius: 15px;
    height: 40px;
    width: 200px;
    align-self: center;
    opacity: 75%;
}

.button:hover {
    opacity: 100%;
    cursor: grab;
}

.highscores-list {
    text-align: center;
}

.buttons {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
}