body {
    background-color: rgb(255, 209, 223);
    margin: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.top {
    margin: 0px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.right {
    padding-right: 60px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
}

.left {
    padding-left: 60px;
}

#main {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    margin: 0% 10%;

}

#qPrompt {
    text-align: center;
}

#name {
    text-align: center;
    margin-bottom: 1%;
}

#instructions {
    text-align: center;
    padding-bottom: 25px;
    padding-right: 70px;
    padding-left: 70px;
    line-height: 1.75;
}

h1 {
    font-size: 40px;

}

h2 {
    font-size: 20px;
}

#highscores-button {
    color: black;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 15px;
}

#highscores-button:hover {
    color: rgb(218, 0, 0);
    cursor: grab;
}

.button {
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-image: radial-gradient(rgb(252, 62, 93), rgb(251, 17, 56));
    border: rgb(255, 46, 81);
    border-radius: 15px;
    height: 40px;
    width: 200px;
    align-self: center;
    opacity: 75%;
}

.button:hover {
    opacity: 100%;
    cursor: grab;
}

.highscores-list  {
    text-align: center;
    padding: 0;
}

.buttons {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
}

.finalscore {
    display: inline-flex;
    flex-direction: row; 
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
}

#final-score {
    padding-top: 18px;
    font-size: 20px;
    font-weight: bold;
}

#end-page h1 {
    text-align: center;
    margin: 20px 0px 0px;
}

.form {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

#submit {
    height: 30px;
    width: 70px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    margin-left: 10px;
}

#player-name {
    border-radius: 8px;
    border: 1px rgb(252, 169, 183) solid;
    font-family: 'Courier New', Courier, monospace;
}

.choice {
    min-width: 600px;
    margin: 5px;
}

.highscores-list ul li {
    font-size: 15px;
}

.highscores-list h1 {
    margin-bottom: 0;
}